{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    {{ super() }}
    Index
{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block page_body %}
    <h1 class="text-center">Hello, Flask + celery!</h1>
    <div class="row">
        <div class="container">
            <div class="col-md-6 col-md-offset-3">
                <button type="submit" name="button" id="start-slow-job">run slow task</button>
                <button type="submit" name="button" id="start-quick-job">run quick task</button>
                <div id="progress"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/nanobar/0.2.1/nanobar.min.js"></script>
    <script type="text/javascript">
        function start_long_task(i) {
            // add task status elements
            div = $('<div class="progress"><div></div><div>0%</div><div>...</div><div>&nbsp;</div></div><hr>');
            $('#progress').append(div);
            // create a progress bar
            var nanobar = new Nanobar({
                bg: '#44f',
                target: div[0].childNodes[0]
            });
            // send ajax POST request to start background job
            $.ajax({
                type: 'POST',
                url: '/task/send_task/' + i,
                success: function(data, status, request) {
                    console.log(data);
                    // status_url = request.getResponseHeader('Location');
                    update_progress('/task/task_status/' + data.task_id, nanobar, div[0]);
                },
                error: function() {
                    alert('Unexpected error');
                }
            });
        }
        function update_progress(status_url, nanobar, status_div) {
            // send GET request to status URL
            $.getJSON(status_url, function(data) {
                // update UI
                percent = parseInt(data['current'] * 100 / data['total']);
                nanobar.go(percent);
                $(status_div.childNodes[1]).text(percent + '%');
                $(status_div.childNodes[2]).text(data['status']);
                if (data['state'] != 'PENDING' && data['state'] != 'PROGRESS') {
                    if ('result' in data) {
                        // show result
                        $(status_div.childNodes[3]).text('Result: ' + data['result']);
                    }
                    else {
                        // something unexpected happened
                        $(status_div.childNodes[3]).text('Result: ' + data['state']);
                    }
                }
                else {
                    // rerun in 2 seconds
                    setTimeout(function() {
                        update_progress(status_url, nanobar, status_div);
                    }, 1000);
                }
            });
        }
        $('#start-slow-job').click(function() {
            start_long_task(100);
        });
        $('#start-quick-job').click(function() {
            start_long_task(20);
        });
    </script>
{% endblock %}
